@font-face {
    font-family: Fakt;
    src: url('../font/FAKTPRO-SEMIBOLD.OTF') format("opentype");
}

@font-face {
    font-family: Salvaje;
    src: url('../font/SALVAJEDISPLAY-REGULAR.OTF') format("opentype");
}

html, body {
  color: black;
  font-family: 'Fakt', sans-serif;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  zoom: normal;
}

.sticker {
  display: block;
  position: absolute;
  width: 200px;
  height: auto;
  -webkit-user-drag: none; /* Safari 3.1+ */
  -moz-user-drag: none; /* Firefox 2+ */
  -ms-user-drag: none; /* IE 10+ */
  user-drag: none; /* Standard syntax */
}
