@font-face {
  font-family: bookos;
  src: url('../fonts/Bookman Old Style/BOOKOS.TTF') format("truetype");
}

html, body {
  background-color: rgb(240,243,242);
  color: #000;
  cursor: url('../cursor.png'), auto;
  font-family: 'bookos', serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  zoom: normal;
}

.container {
  display: inline-grid;
  grid-template-columns: 288px auto; /* based on width of kelly icon */
  width: 100vw;
  height: 100vh;
}

.item {
  position: relative;
  z-index: 10;
}

.menu {
  position: relative;
  overflow: hidden;
}

.menu-item {
  display: block;
  margin: 24px;
  position: relative;
}

.menu-item:hover {
  cursor: url('../hover.png'), auto;
}

.socialmedia {
  display: block;
  margin: 24px;
  position: absolute;
  bottom: 0;
}

.socialmedia td {
  padding-top: 5px;
  padding-right: 10px;
}

#title-kellyli {
  background: url('../img/menu/Kelly.png');
  background-position: 0 0;
  background-size: 240px 80px;
  background-repeat: no-repeat;
  height: 80px;
  width: 240px;
}

#title-videos {
  background: url('../img/menu/videos.png');
  background-position: 0 0;
  background-size: 173px 75.4px;
  background-repeat: no-repeat;
  height: 37.7px;
  width: 173px;
}

#title-videos:hover,
#title-videos.active {
  background-position: 0 -37.7px;
}

#title-graphics {
  background: url('../img/menu/graphics.png');
  background-position: 0 0;
  background-size: 165px 82.84px;
  background-repeat: no-repeat;
  height: 41.42px;
  width: 165px;
}

#title-graphics:hover,
#title-graphics.active {
  background-position: 0 -41.42px;
}

#title-photography {
  background: url('../img/menu/photography.png');
  background-position: 0 0;
  background-size: 154px 72.7px;
  background-repeat: no-repeat;
  height: 36.35px;
  width: 154px;
}

#title-photography:hover,
#title-photography.active {
  background-position: 0 -36.35px;
}

.sticker {
  display: block;
  position: absolute;
  width: 100px;
  height: auto;
  -webkit-user-drag: none; /* Safari 3.1+ */
  -moz-user-drag: none; /* Firefox 2+ */
  -ms-user-drag: none; /* IE 10+ */
  user-drag: none; /* Standard syntax */
}

.sticker:hover {
  cursor: url('../hover.png'), auto;
}

.sticker:active {
  cursor: url('../hover.png'), auto;
}

.oldschool-link,
.oldschool-link:active {
  color: #00f;
}

.content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.content-item {
  display: none;
}

.placeholder {
  display: none;
}

.iframe-container {
  display: block;
  position: relative;
  margin-top: 24px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  height: 90%;
  max-width: 860px;
}

.img-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 48px;
  width: 90%;
  max-width: 860px;
}

.active {
  display: block;
}

#content-kellyli {
  background-color: #fff;
  border: 1px solid #00f;
  color: #000;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  line-height: 24px;
  padding-top: 8px;
  padding-left: 8px;
  position: absolute;
  width: 376px;
  height: 178px;
  top: 300px;
  left: 400px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
    grid-template-columns: auto;
  }

  .menu {
    display: inline;
    position: relative;
    width: 100vw;
    top: 0;
    bottom: 0;
  }

  .menu-right {
    display: inline-block;
    float: right;
    position: relative;
  }

  .menu-right .menu-item {
    position: absolute;
    right: 0;
  }

  .menu-item,
  .socialmedia-item {
    z-index: 20;
  }

  .socialmedia {
    position: absolute;
    top: calc(100vh - 200px);
    z-index: 20;
  }

  .socialmedia table {
    border-spacing: 0;
  }

  .socialmedia tr {
    display: table-cell;
  }

  .socialmedia-item img {
    width: 50px;
    height: 46.3px;
  }

  .content {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .placeholder {
    display: block;
    width:100vw;
    height:200px;
    z-index: 0;
  }

  #title-kellyli {
    background-size: 210px 70px;
    display: inline-block;
    height: 70px;
    width: 210px;
  }

  #title-graphics {
    top: 60px;
  }

  #title-photography {
    top: 120px;
  }

  #content-kellyli {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    width: 260px;
    height: 120px;
    top: 300px;
    left: 100px;
    z-index: 30;
  }
}
